html {
	/*background-color: red;  设置背景色*/
	font-size: 12px;
	/*设置网页字体*/
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	/* background-color:pink; */
	margin: 0px;
	/*上下左右外边距为0*/
	padding: 0px;
	/*上下左右内边距为0*/

	/* 让body中的元素居中 */
	display: flex;
	justify-content: center;
	align-items: center;
}
.mainDiv{
width: 1390px;
	height: 725px;

}
.topDiv {
	width: 100%;
	height: 90px;
	background-color: lightblue;
}
.topDivTxt {
	font-family: "FZCuYuan-M03S";
	letter-spacing: 5px;
	font-weight: 700;
	color: lightyellow;
	text-shadow: 4px 4px 0 cornflowerblue;
	width: 400px;
	height: 110px;
	float: left;
	text-align: left;

}
.coLeDiv {
	margin-right: 20px;
	height: 30px;
	width: 500px;
	float: right;
	text-align: right;
}
.chongzhi{
	width:120px;
	height:50px;
	font-size:25px;
	color:white;
	cursor: pointer;
	background:slategrey;
	user-select: none;
	border-color:transparent;
}
.chongzhi:hover {
  background: cadetblue;
}
 
.chongzhi:active {
  background-color: cadetblue;
  transform: translateY(4px);
}

.contentRightDiv {
	width:780px;
	height: 484px;
	margin-left: 56px;
	margin-top: 60px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center; 
	font-size: 20px;
	
}
.contentLeftDiv
{
	
	background-color: white;
	margin-top:60px;
	margin-left:20px;
	width: 270px;
	height: 484px;
}
.leftInfo {
	width: 120px;
	height: 120px;
	border: 1px solid floralwhite;
	border-radius: 100px;
	margin-top: 15px;
	background-image: url("../img/touxiang.jpg");
	background-size: 120px;
	margin-left: 80px;

}
.leftInfoTxt
{
	width: 200px;
	height: 170px;
	margin-top: 12px;
	font-size: 20px;
	color: dimgray;
}

.contentDiv{
	width: 100%;
	height: 570px;
	background-color: azure;
	display: flex;
	justify-content: center;
	align-items: center; 
}
.clickButtom/*搴灞*/
{
	font-size: 20px;
	background: rgba(71, 156, 235, 0.7);
	box-shadow: 0 3px #999;
	user-select: none;
	color: white;
	cursor: pointer;
	border-radius: 10px;
	width: 200px;
	height: 50px;
	border-color:transparent;

}
.clickButtom:hover {
  background: dodgerblue;
}
 
.clickButtom:active {
  background-color: dodgerblue;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
.footDiv
{
	height: 101px;
	width: 100%;
	background-color: aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;
}
