html {
	/*background-color: red;  设置背景色*/
	font-size: 12px;
	/*设置网页字体*/
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	/* background-color:pink; */
	margin: 0px;
	/*上下左右外边距为0*/
	padding: 0px;
	/*上下左右内边距为0*/

	/* 让body中的元素居中 */
	display: flex;
	justify-content: center;
	align-items: center;
}
.homeMainDiv {
	
	width: 1400px;
	height: 1101px;
}

.homeTopDiv {
	
	width: 100%;
	height: 108px;
	background-color: lightblue;

}
.topDivTxt
{
	font-family: "FZCuYuan-M03S";
	letter-spacing: 5px;
	font-weight: 700;
	color: lightyellow;
	text-shadow: 4px 4px 0 cornflowerblue;
	width: 400px;
	height: 100px;
	float: left;
	text-align: left;


}
.coLeDiv {
	margin-right: 20px;
	height: 30px;
	width: 500px;
	float: right;
	font-size: 18px;
	color: slategray;
	text-align: right;

}

.homeContentDiv {
	width: 100%;
	height: 840px;	

}

.footDiv {
	width: 1400px;
	height:90px;
	background-color: aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;

}
	
.click1/*鎼滅储鎸夐挳*/
{

    user-select: none;
	font-size: 20px;
	background: rgba(71, 156, 235, 0.7);
	box-shadow: 0 3px #999;
	float: right;
	color: white;
	cursor: pointer;
	margin-left: 10px;
	width: 80px;
	border-color:transparent;

}
.click1:hover
{
 background: dodgerblue;
}
 
.click1:active {
  background-color: dodgerblue;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
.clickButtom/*搴曞眰鎸夐挳*/
{
	font-size: 20px;
	background: rgba(71, 156, 235, 0.7);
	box-shadow: 0 3px #999;
	user-select: none;
	color: white;
	cursor: pointer;
	border-radius: 10px;
	width: 200px;
	height: 50px;
	border-color:transparent;

}
.clickButtom:hover
{
 background: dodgerblue;
}
 
.clickButtom:active {
  background-color: dodgerblue;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}


.exploration
{
	width: 100%;
	height: 90px;					
    background-color: aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;
}
.exDiv
{
	
    border: 1px solid cadetblue;
	width: 100%;
	height:750px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.homeCin {/*鎼滅储妗�*/
	border: 3px solid gray;
	
	font-size: 20px;

	border-radius: 10px;

	width: 600px;
	height: 40px;
	
}

.indexTdTile{
	background-color: lightpink;
	font-size: 20px;
}
.indexTable{
	width: 90%;
	border-collapse: separate;
	border-top:none;
	border-bottom: none;
	border-spacing: 12px;
	border-left: none;
	border-right: none;
	font-size: 16px;
	margin-left:76px;


}
.indexPageNumberDiv{
	margin-top: 1px;
	font-size: 20px;
	color: dimgray;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.indexQueryDiv{
	margin-left: 20px;
	font-size: 20px;
	color: gray;
}
.clickBuy
{
	font-size: 13px;
	background: rgba(71, 156, 235, 0.7);
	box-shadow: 0 3px #999;
	user-select: none;
	color: white;
	cursor: pointer;
	border-radius: 8px;
	width: 60px;
	height: 25px;
	border-color:transparent;
}
.clickBuy:hover {
  background: dodgerblue;
}
 
.clickBuy:active {
  background-color: dodgerblue;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}